<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rnradarunderprod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/radarunder_icon"
      android:roundIcon="@mipmap/radarunder_icon_round"
      android:allowBackup="false"
      android:theme="@android:style/Theme.Light"
      android:usesCleartextTraffic="true"
      >
      <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyAKKFbCS0b7dgUZNbJ6HTxAqJP_svz4Isw"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
